.stepActivity{
    width: 1000px;
}

.divActivity{
    display: flex;
}

.activity{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #2C2C2C;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 100px;
    padding: 10px;
    transition: ease .3s all;
    margin: 1rem;
    width: 200px;
}

.activity:hover{
    background-color:#F5B945 ;
    color: #2C2C2C;
}