.result{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #CAD0D7;
    color: #424852;
    flex-grow: 3;
    margin: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.result-Title{
    font-size: 2rem;
}

.div-result{
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    width: 100%;
}

.textResult{
    background-color: #FBD277;
    padding: 10px;
    width: 100%;
}

.valueResult{
    background-color: #F5B945;
    padding: 10px;
    width: 100%;
}