@media (max-width: 1200px){
    .stepActivity{
        width: 100vw;
    }
    
}

.stepActivity{
    width: 40vw;
    flex-grow: 5;
}

.divActivity{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.activityContent img{
    height: 71px;
    width: 71px;
}

.activity{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #F5B945;
    border-radius: 5px;
    color: #2C2C2C;
    cursor: pointer;
    padding: 10px;
    transition: ease .3s all;
    margin: 1rem;
    width: 150px;
}


.activity:hover{
    background-color:#35BA9B ;
    color: white;
}

