.steps{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.step{
    background-color: white;
    border: 1px solid #CAD0D7;
    box-shadow: -5px 5px 10px 0 rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 3rem;
    min-height: 300px;
    text-align: center;
    width: 500px;
}
.step-title{
    background-color: #35BA9B;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 2rem;
    font-weight: lighter;
    text-align: center;
    padding: 5px 10px;
    margin: .5rem;
}

.inputEmpty{
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

@media all and ( max-width: 1200px) {
    .step{
        margin: 2rem;
        width: 100%;
        height: auto;
    }
}